* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #f8f9fa;
    height: 100vh;
    display: flex;
}

.main-container {
    display: flex;
    width: 100%;
    height: 100%;
}

/* Sol Taraf */
.form-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    background-color: white;
}

.form-wrapper {
    width: 100%;
    max-width: 400px;
}

.welcome-text {
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 30px;
}

h1 {
    font-size: 32px;
    color: #000;
    margin-bottom: 10px;
}

.login-link {
    font-size: 13px;
    color: #666;
    margin-bottom: 40px;
    line-height: 1.5;
}

.login-link a {
    color: #4b39b5;
    text-decoration: none;
    font-weight: 600;
}

/* Input Grupları */
.input-group {
    margin-bottom: 25px;
}

.input-group label {
    display: block;
    font-size: 12px;
    color: #999;
    margin-bottom: 8px;
}

.input-wrapper {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 8px;
    position: relative;
}

.icon {
    margin-right: 10px;
    color: #999;
}

input {
    border: none;
    outline: none;
    width: 100%;
    font-size: 14px;
    color: #333;
}

.toggle-password {
    cursor: pointer;
    font-size: 12px;
    color: #999;
}

/* Buton */
.register-btn {
    width: 100%;
    padding: 15px;
    background-color: #4b39b5;
    color: white;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 20px;
    box-shadow: 0 4px 15px rgba(75, 57, 181, 0.3);
    transition: 0.3s;
}

.register-btn:hover {
    background-color: #3b2a94;
    transform: translateY(-2px);
}

/* Sağ Taraf - Görsel Alanı */
.visual-section {
    flex: 1.2;
    background-color: #1a132e;
    /* Görseldeki koyu arka plan */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px 0 0 30px;
    padding: 4px;
    color: white;
}

.brand-content {
    text-align: center;
}

.logo-box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 4px;
}

.brand-logo {
    width: 40px;
}

.logo-box span {
    text-align: left;
    font-size: 10px;
    font-weight: 600;
    line-height: 1;
}

.hero-image {
    max-width: 90%;
    margin-bottom: 3px;
}

.brand-text h2 {
    font-size: 36px;
    margin-bottom: 1px;
}

.brand-text p {
    font-size: 14px;
    color: #aaa;
}



